<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.geeksearch">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.GeekSearch">
        <activity android:name=".user.UserRegisterActivity"></activity>
        <activity android:name=".organisation.OrgRegisterActivity" />
        <activity android:name=".organisation.AddEventActivity" />
        <activity android:name=".organisation.OrgHomeActivity" />
        <activity android:name=".user.UserLoginActivity" />
        <activity android:name=".organisation.OrgLoginActivity" />
        <activity android:name=".user.CreateTeamActivity" />
        <activity android:name=".user.JoinTeamActivity" />
        <activity android:name=".ChatActivity" />
        <activity android:name=".user.ProfileActivity" />
        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".user.UserHomeActivity" />
    </application>

</manifest>